body { 
    text-align: center;
    height: 100vh;
    text-decoration: none;
    /* This is specialy to test how the branching system works in github so let's test it */
    /* This is the third branch of the year */
}